$guardian-blue: #052962;
$guardian-navy: #041f4a;
$guardian-white: #ffffff;
$guardian-dark-grey: #d4d4d4;
$guardian-light-grey: #f6f6f6;
$guardian-black: #121212;
$guardian-red: #c70000;
$guardian-yellow: #ffe500;
